<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="secondary">
      <ion-button [routerLink]="['/inicio']">
        <ion-icon [routerLink]="['/login']" slot="icon-only" name="home"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Login</ion-title>
  </ion-toolbar>
  
</ion-header>

<br />
<ion-content [fullscreen]="true">
  <ion-card color="medium">
    <ion-card-header>
      <ion-card-title>Ingrese Usuario</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
  <ion-item>
    <ion-input label="Usuario" label-placement="floating" [clearOnEdit]="true" placeholder="Ingrese Usuario"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-input label="Contraseña" label-placement="floating" [clearOnEdit] placeholder="Ingrese Contraseña" type="password"></ion-input>
    </ion-item>
    <br>
    <ion-button  id="open-loading" color="dark" shape="round" [routerLink]="['/home']">Ingresar</ion-button>
    <ion-loading trigger="open-loading" message="Cargando" duration="2000"></ion-loading>
    <ion-button color="dark" shape="round" [routerLink]="['/restablecer']">Restablecer</ion-button>
  
    </ion-card-content>
  </ion-card>
</ion-content>



